# Necessário criar o schema turismes no seu bancod e dados de escolha
DATABASE_URL = postgresql://usuário:senha@host:5432/banco_de_dados?options=-csearch_path=turismes
SECRET_KEY=""
PORT=5000
DATABASE_URL_TESTE= postgresql://usuário:senha@host:5432/banco_de_dados?options=-csearch_path=turismes_test
HOST_FRONT=http://localhost:8080
import os

MAIL_USERNAME = ""
MAIL_PASSWORD = ""
USER_DEFAULT_SENDER = ""